.container {
  max-width: 400px;
  margin: 80px auto;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: -21px; 

 }

.header {
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #1a1a1a;
}

p {
  font-size: 16px;
  color: #555;
  line-height: 1.4;
  margin: 0; 
}
.link{
  color: #68215b;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
   transition: color 0.2s ease, text-decoration 0.2s ease;
  text-decoration: underline;
  text-align: center;
}
