<app-loading [loading]="adminState.isLoading()">
  <div class="admin-container">
    <table class="modern-table">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Category Name</th>
          <th>Category ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of adminUI?.paginatedProducts(); trackBy: trackByProductId">
          <td>{{ p.id }}</td>
          <td>{{ p.title }}</td>
          <td>{{ p.category?.name }}</td>
          <td>{{ p.category?.id }}</td>
          <td class="action">
            <button class="view-btn" (click)="goToView(p.id)">View</button>
            <button class="edit-btn" (click)="goToEdit(p.id)">Edit</button>
            <button class="delete-btn" (click)="goToDelete(p.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
      <button (click)="adminUI?.prevPage()" [disabled]="adminUI?.currentPage() === 1">Prev</button>
      <button (click)="adminUI?.nextPage()" [disabled]="adminUI?.currentPage() === adminUI?.totalPages()">Next</button>
    </div>
  </div>
</app-loading>
